h1 {
    font-family: Noto Sans JP;
    font-size: 28px;
}

h2 {
    font-family: Noto Sans JP;
    font-size: 25px;
}

h3 {
    font-family: Noto Sans JP;
    font-size: 21px;
}

h4 {
    font-family: Noto Sans JP;
    font-size: 18px;
}

p {
    font-size: 16px;
}